.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

h1 {
  font-weight: normal;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

label {
  font-size: 14px;
  color: gray;
  padding: 10px;
}

input,
select,
option {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.elements {
  width: 80%;
  padding: 20px;
  margin: auto;
}

.btn,
button {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  margin: 5px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  font-size: calc(5px + 2vmin);
  cursor: pointer;
  background-color: #e91e63;
}

.btn:hover:enabled,
button:hover:enabled {
  box-shadow: 0 5px 10px 2px rgba(233,30,99,0.5);
}

button:disabled,
.btn:disabled {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  margin: 5px;
  box-sizing: border-box;
  text-decoration: none;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  font-size: calc(5px + 2vmin);
  cursor: pointer;
  border: 1px solid #999;
  background-color: #ccc;
  color: #666;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

video {
  padding: 10px;
  border-radius: 5px;
}

.range-elements {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;

}

.App-link {
  color: #61dafb;
}
